<div id="navegacion" prev="../Tema_7/t7_pandas_034.html" next=""></div>

<div class="section-title">Sección 5.5</div>

# Ejercicios

## Ejercicio 1

El fichero [pedidos.csv](./datos/pedidos.csv) recoge los datos de los pedidos de una empresa en su último trimestre. Cada pedido puede tener distintas lineas de pedido, donde cada línea representa un producto.

La información del fichero por columnas es: 
* Número de pedido
* Linea de pedido
* Producto
* Cantidad
* Precio unitario en Euros (separador de decimales = ',')



__a)__ Carga los datos en un DataFrame con la función `read_csv`. 

* El índice del DataFrame ha de ser el número de pedido.
* Para ver las opcciones de la función `read_csv` ejecuta la siguiente celda:

In [1]:
import pandas as pd
pd.read_excel?

Signature:
pd.read_excel(
    io,
    sheet_name: 'str | int | list[IntStrT] | None' = 0,
    header: 'int | Sequence[int] | None' = 0,
    names=None,
    index_col: 'int | Sequence[int] | None' = None,
    usecols=None,
    squeeze: 'bool | None' = None,
    dtype: 'DtypeArg | None' = None,
    engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb'] | None" = None,
    converters=None,
    true_values: 'Iterable[Hashable] | None' = None,
    false_values: 'Iterable[Hashable] | None' = None,
    skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    parse_dates=False,
    date_parser=None,
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    comment: 'str | None' = None,
    skipfooter: 'int' = 0,
    convert_float: 'bool | None' = None,
    mangle_dupe_cols: 'bool' = True,
    storage_options: 'StorageOptions' = None,
) -> 'DataFrame | dict[IntStrT, DataFrame]'
Docstring:
Read an Excel file into a pandas DataFrame.

Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
read from a local filesystem or URL. Supports an option to read
a single sheet or a list of sheets.

Parameters
----------
io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method,
    such as a file handle (e.g. via builtin ``open`` function)
    or ``StringIO``.
sheet_name : str, int, list, or None, default 0
    Strings are used for sheet names. Integers are used in zero-indexed
    sheet positions (chart sheets do not count as a sheet position).
    Lists of strings/integers are used to request multiple sheets.
    Specify None to get all worksheets.

    Available cases:

    * Defaults to ``0``: 1st sheet as a `DataFrame`
    * ``1``: 2nd sheet as a `DataFrame`
    * ``"Sheet1"``: Load sheet with name "Sheet1"
    * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
      as a dict of `DataFrame`
    * None: All worksheets.

header : int, list of int, default 0
    Row (0-indexed) to use for the column labels of the parsed
    DataFrame. If a list of integers is passed those row positions will
    be combined into a ``MultiIndex``. Use None if there is no header.
names : array-like, default None
    List of column names to use. If file contains no header row,
    then you should explicitly pass header=None.
index_col : int, list of int, default None
    Column (0-indexed) to use as the row labels of the DataFrame.
    Pass None if there is no such column.  If a list is passed,
    those columns will be combined into a ``MultiIndex``.  If a
    subset of data is selected with ``usecols``, index_col
    is based on the subset.
usecols : int, str, list-like, or callable default None
    * If None, then parse all columns.
    * If str, then indicates comma separated list of Excel column letters
      and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
      both sides.
    * If list of int, then indicates list of column numbers to be parsed.
    * If list of string, then indicates list of column names to be parsed.
    * If callable, then evaluate each column name against it and parse the
      column if the callable returns ``True``.

    Returns a subset of the columns according to behavior above.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.

    .. deprecated:: 1.4.0
       Append ``.squeeze("columns")`` to the call to ``read_excel`` to squeeze
       the data.
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    Use `object` to preserve data as stored in Excel and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : str, default None
    If io is not a buffer or path, this must be set to identify io.
    Supported engines: "xlrd", "openpyxl", "odf", "pyxlsb".
    Engine compatibility :

    - "xlrd" supports old-style Excel files (.xls).
    - "openpyxl" supports newer Excel file formats.
    - "odf" supports OpenDocument file formats (.odf, .ods, .odt).
    - "pyxlsb" supports Binary Excel files.

    .. versionchanged:: 1.2.0
        The engine `xlrd <https://xlrd.readthedocs.io/en/latest/>`_
        now only supports old-style ``.xls`` files.
        When ``engine=None``, the following logic will be
        used to determine the engine:

       - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
         then `odf <https://pypi.org/project/odfpy/>`_ will be used.
       - Otherwise if ``path_or_buffer`` is an xls format,
         ``xlrd`` will be used.
       - Otherwise if ``path_or_buffer`` is in xlsb format,
         ``pyxlsb`` will be used.

         .. versionadded:: 1.3.0
       - Otherwise ``openpyxl`` will be used.

         .. versionchanged:: 1.3.0

converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can
    either be integers or column labels, values are functions that take one
    input argument, the Excel cell content, and return the transformed
    content.
true_values : list, default None
    Values to consider as True.
false_values : list, default None
    Values to consider as False.
skiprows : list-like, int, or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int) at the
    start of the file. If callable, the callable function will be evaluated
    against the row indices, returning True if the row should be skipped and
    False otherwise. An example of a valid callable argument would be ``lambda
    x: x in [0, 2]``.
nrows : int, default None
    Number of rows to parse.
na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values. By default the following values are interpreted
    as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
    'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
parse_dates : bool, list-like, or dict, default False
    The behavior is as follows:

    * bool. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index contains an unparsable date, the entire column or
    index will be returned unaltered as an object data type. If you don`t want to
    parse some cells as date just change their type in Excel to "Text".
    For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

    Note: A fast-path exists for iso8601-formatted dates.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
thousands : str, default None
    Thousands separator for parsing string columns to numeric.  Note that
    this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.
decimal : str, default '.'
    Character to recognize as decimal point for parsing string columns to numeric.
    Note that this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.(e.g. use ',' for European data).

    .. versionadded:: 1.4.0

comment : str, default None
    Comments out remainder of line. Pass a character or characters to this
    argument to indicate comments in the input file. Any data between the
    comment string and the end of the current line is ignored.
skipfooter : int, default 0
    Rows at the end to skip (0-indexed).
convert_float : bool, default True
    Convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
    data will be read in as floats: Excel stores all numbers as floats
    internally.

    .. deprecated:: 1.3.0
        convert_float will be removed in a future version

mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc., if using a URL that will
    be parsed by ``fsspec``, e.g., starting "s3://", "gcs://". An error
    will be raised if providing this argument with a local path or
    a file-like buffer. See the fsspec and backend storage implementation
    docs for the set of allowed keys and values.

    .. versionadded:: 1.2.0

Returns
-------
DataFrame or dict of DataFrames
    DataFrame from the passed in Excel file. See notes in sheet_name
    argument for more information on when a dict of DataFrames is returned.

See Also
--------
DataFrame.to_excel : Write DataFrame to an Excel file.
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
The file can be read using the file name as string or an open file object:

>>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
       Name  Value
0   string1      1
1   string2      2
2  #Comment      3

>>> pd.read_excel(open('tmp.xlsx', 'rb'),
...               sheet_name='Sheet3')  # doctest: +SKIP
   Unnamed: 0      Name  Value
0           0   string1      1
1           1   string2      2
2           2  #Comment      3

Index and header can be specified via the `index_col` and `header` arguments

>>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
     0         1      2
0  NaN      Name  Value
1  0.0   string1      1
2  1.0   string2      2
3  2.0  #Comment      3

Column types are inferred but can be explicitly specified

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
       Name  Value
0   string1    1.0
1   string2    2.0
2  #Comment    3.0

True, False, and NA values, and thousands separators have defaults,
but can be explicitly specified, too. Supply the values you would like
as strings or lists of strings!

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               na_values=['string1', 'string2'])  # doctest: +SKIP
       Name  Value
0       NaN      1
1       NaN      2
2  #Comment      3

Comment lines in the excel input file can be skipped using the `comment` kwarg

>>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
      Name  Value
0  string1    1.0
1  string2    2.0
2     None    NaN
File:      c:\software\programacion\python\anaconda3\lib\site-packages\pandas\io\excel\_base.py
Type:      function

In [2]:
# Sol:
pedidos = pd.read_csv("pedidos.csv", decimal=",", sep ="|")
pedidos

     Numero_pedido   producto  cantidad  precio  linea_de_pedido
0            10105  S700_2610        31   65.77                3
1            10105  S700_3505        39   81.14                6
2            10105  S700_3962        22  116.19                7
3            10105   S72_3212        25   56.78                8
4            10106   S18_1662        36  146.65               12
..             ...        ...       ...     ...              ...
195          10126  S700_2824        45  102.16                6
196          10127   S12_1108        46  245.20                2
197          10127   S12_3148        46  160.14                3
198          10127   S12_3891        42  193.78                1
199          10127   S12_4473        24  106.65               11

[200 rows x 5 columns]

__b)__ Modifica los valores del precio unitario a 0 cuando el valor sea NaN.

In [3]:
# Sol:
pedidos.precio.fillna(0.0)

0       65.77
1       81.14
2      116.19
3       56.78
4      146.65
        ...
195    102.16
196    245.20
197    160.14
198    193.78
199    106.65
Name: precio, Length: 200, dtype: float64


__c)__ Calcula el número de pedido (o pedidos) que contengan el producto más caro.

In [4]:
# Sol:

#Precio más caro
max_valor = max(pedidos.precio)
max_valor

#Listado de numero de pedidos que contangan el producto mas caro
num_pedido = list()
for p in pedidos.index:
    if pedidos["precio"][p] == max_valor:
        num_pedido.append(pedidos["Numero_pedido"][p])

num_pedido

[10112]

__d)__ ¿Qué productos aparecen en los pedidos del dataset? Usa `unique`.

In [5]:
# Sol:
productos = pedidos.producto

productos.unique()

array(['S700_2610', 'S700_3505', 'S700_3962', 'S72_3212', 'S18_1662',
       'S18_2581', 'S18_3029', 'S18_3856', 'S24_1785', 'S24_2841',
       'S24_3420', 'S24_3949', 'S24_4278', 'S32_4289', 'S50_1341',
       'S700_1691', 'S700_2047', 'S700_2466', 'S700_2834', 'S700_3167',
       'S700_4002', 'S72_1253', 'S10_1678', 'S10_2016', 'S10_4698',
       'S12_2823', 'S18_2625', 'S24_1578', 'S24_2000', 'S32_1374',
       'S12_1099', 'S12_3380', 'S12_3990', 'S12_4675', 'S18_1889',
       'S18_3278', 'S18_3482', 'S18_3782', 'S18_4721', 'S24_2360',
       'S24_3371', 'S24_3856', 'S24_4620', 'S32_2206', 'S32_4485',
       'S50_4713', 'S18_1129', 'S18_1984', 'S18_2870', 'S18_3232',
       'S18_3685', 'S24_2972', 'S18_1589', 'S18_1749', 'S18_2248',
       'S18_2325', 'S18_2795', 'S18_4409', 'S18_4933', 'S24_1046',
       'S24_1628', 'S24_1937', 'S24_2022', 'S24_2766', 'S24_2887',
       'S24_3191', 'S24_3432', 'S24_3969', 'S18_1342', 'S18_1367',
       'S18_2957', 'S18_3136', 'S18_3320', 'S24_4258', 'S10_1949',
       'S18_2949', 'S12_1666', 'S18_1097', 'S18_4668', 'S32_3522',
       'S10_4962', 'S18_2319', 'S18_2432', 'S18_4600', 'S24_2300',
       'S24_2840', 'S32_1268', 'S32_2509', 'S700_2824', 'S12_4473',
       'S18_2238', 'S24_1444', 'S24_4048', 'S50_1392', 'S32_3207',
       'S12_1108', 'S12_3148', 'S12_3891', 'S18_3140', 'S18_3259',
       'S18_4027', 'S18_4522', 'S24_2011', 'S50_1514', 'S700_1938',
       'S10_4757', 'S24_3151', 'S24_3816', 'S700_1138'], dtype=object)

__e)__ ¿Cúantas veces aparece cada producto en el dataset? Usa `value_counts`.

In [6]:
# Sol:
productos.value_counts()

S18_3232     3
S700_2610    2
S18_4933     2
S24_3432     2
S24_3191     2
            ..
S24_1444     1
S18_2238     1
S32_2509     1
S24_2840     1
S700_1138    1
Name: producto, Length: 109, dtype: int64

__f)__ Crea una nueva columna llamada `total_linea` que sea el importe total de la línea de pedido (precio unitario multiplicado por la cantidad).

In [7]:
# Sol:
pedidos["total_linea"] = pedidos.precio * pedidos.cantidad
pedidos

     Numero_pedido   producto  cantidad  precio  linea_de_pedido  total_linea
0            10105  S700_2610        31   65.77                3      2038.87
1            10105  S700_3505        39   81.14                6      3164.46
2            10105  S700_3962        22  116.19                7      2556.18
3            10105   S72_3212        25   56.78                8      1419.50
4            10106   S18_1662        36  146.65               12      5279.40
..             ...        ...       ...     ...              ...          ...
195          10126  S700_2824        45  102.16                6      4597.20
196          10127   S12_1108        46  245.20                2     11279.20
197          10127   S12_3148        46  160.14                3      7366.44
198          10127   S12_3891        42  193.78                1      8138.76
199          10127   S12_4473        24  106.65               11      2559.60

[200 rows x 6 columns]

__g)__ Incrementa el precio de las líneas de pedido un 10% para aquellos productos cuyo precio sea superior a 80 Euros. Para ello crea una nueva columna llamada `Descuento`.

* Crea una función que reciba como parámetro un valor de tipo entero que representa el precio. Si dicho valor es mayor de 80, la función lo devuelve incrementado en un 10%. Si el valor es menor o igual a 80, la función devuelve dicho valor sin cambios. 
* Aplica la función anterior usando  `map` sobre la columna `precio`.

In [8]:
# Sol:

def evaluador(precio:float) -> float:
    if precio >= 80:
        return precio * 1.1
    return precio

In [9]:
#Aplicando map
pedidos["precio"] = list(map(evaluador, pedidos["precio"]))

pedidos

     Numero_pedido   producto  cantidad   precio  linea_de_pedido  total_linea
0            10105  S700_2610        31   65.770                3      2038.87
1            10105  S700_3505        39   89.254                6      3164.46
2            10105  S700_3962        22  127.809                7      2556.18
3            10105   S72_3212        25   56.780                8      1419.50
4            10106   S18_1662        36  161.315               12      5279.40
..             ...        ...       ...      ...              ...          ...
195          10126  S700_2824        45  112.376                6      4597.20
196          10127   S12_1108        46  269.720                2     11279.20
197          10127   S12_3148        46  176.154                3      7366.44
198          10127   S12_3891        42  213.158                1      8138.76
199          10127   S12_4473        24  117.315               11      2559.60

[200 rows x 6 columns]

In [10]:
#Si aplicamos el incremento con el precio unitario nuevo
# Sol:
pedidos["total_linea"] = pedidos.precio * pedidos.cantidad
pedidos

     Numero_pedido   producto  cantidad   precio  linea_de_pedido  total_linea
0            10105  S700_2610        31   65.770                3     2038.870
1            10105  S700_3505        39   89.254                6     3480.906
2            10105  S700_3962        22  127.809                7     2811.798
3            10105   S72_3212        25   56.780                8     1419.500
4            10106   S18_1662        36  161.315               12     5807.340
..             ...        ...       ...      ...              ...          ...
195          10126  S700_2824        45  112.376                6     5056.920
196          10127   S12_1108        46  269.720                2    12407.120
197          10127   S12_3148        46  176.154                3     8103.084
198          10127   S12_3891        42  213.158                1     8952.636
199          10127   S12_4473        24  117.315               11     2815.560

[200 rows x 6 columns]