
<div id="navegacion" prev="../Ejercicios_Tema_7/ej6.html" next=""></div>

<div class="section-title">Sección 6.5</div>

#  Movilens 1M


Movilens Dataset recoge datos de 6000 usuarios y 4000  películas. La información se distribuye en 3 tablas.

- [ratings.dat](./ml-1m/ratings.dat) - El fichero recoge datos de valoraciones  de los usuarios. Las columnas son: Usuario, MovieID, Puntuación, Fecha.

- [movies.dat](./ml-1m/movies.dat) - Datos de las películas. Las columnas son: MovieID, Titulo, Género
- [users.dat](./ml-1m/users.dat) - Datos personales de los usuarios. Las columnas son: Usuario, Sexo, Edad, Ocupación, ZipCode.


Toda esta información se utiliza con mucha frecuencia en los sistemas de recomendación que aplican algoritmos de aprendizaje.
La información del contenido de los ficheros la puedes encontrar en el enlace [README](./ml-1m/README).

## Importar datos

Crear un DataFrame para cada uno de los ficheros.  Usar la función `head()` para visualizar los primeros datos.
El fichero ratings tiene un campo de tipo fecha. Usa el parámetro `parse_dates` para cargar de forma adecuada las fechas.

In [6]:
# Sol:

## Valoraciones de X-Men

Los usuarios valoran las películas con valores del 1 al 5 donde el 1 es la peor puntuación y 5 es la mejor. La puntuación es una variable categórica. Calcula el número de votos de cada tipo (la frecuencia de votos) de la película con título `X-Men (2000)`.

In [ ]:
# Sol:

## Puntuación media

Calcula la puntuación media  de cada película por sexo del usuario. Diseña una función llamada `puntuacion_media` que devuelve un Dataframe donde el índice es el título de la película y las columnaa son 'F' y 'M' (Female y Male respectivamente).

__Nota__:

Hay varias formas de hacerlo. Aquí os dejo alguna sugerencia:
* Necesitamos combinar las tres tablas ya que tenemos, por un lado las valoraciones, por otro el título de la película y por otro el sexo de los usuarios. La operación `merge` te permitirá realizar la  combinación.
    * Combina primero las valoraciones con las peliculas por el campo 'id_peli'.
    * Combina el resultado anterior con los usuarios por el campo 'id_usuario'.
    
* Una vez combinadas las tres tablas en una sola tabla:
    * solución 1:  Agrupar por `id_peli` y por `sexo` del usuario. La función de agregación es la media `mean()`. Para obtener la tabla pedida utiliza `unstack` para deshacer el multi índice.
    * solución 2: Consulta la ayuda de la función `pivot_table`. Utiliza la función `pivot_table`. Merece la pena que intentéis resolverlo también utilizando esta opción.

In [26]:
# Sol:
def puntuacion_media():
    """Calcula la puntuación media  de cada película por sexo del usuario
    
    Example:
        >>> puntuacion_media()
               
        genero_u                            F          M
        titulo 
        $1,000,000 Duck (1971)       3.375000    2.761905
        'Night Mother (1986)         3.388889    3.352941
        'Til There Was You (1997)    2.675676    2.733333

        ...
        ...

"""